.cart {
    height:100%;
    position: fixed;
    right:0;
    top:0;
    z-index: 1;
}

.cart > .cart-wrap {
    width:500px;
    height: 100%;
    background-color: #e3e3e3;
    float:right;
    opacity: 85%;
    padding-left: 10px;
}

.cart > .cart-wrap > .cart-product {
    width:100%;
    text-align: left;
    position: relative;
    top:50px;
    left: 40px;
    padding-bottom: 10px;
}

.cart > .cart-arrow {
    position: absolute;
    top:0;
    left:-60px;
    z-index: inherit;
    width:60px;
    height:60px;
}

.cart > .cart-wrap > .title {
    width: 100%;
    text-align: center;
    position: relative;
    top: 50px;
    display: block;
}

#cart-product-wrap {
    text-align:left;
}

.cart-product-title {
    display: inline-block;
}

.cart-product-button {
    display: inline-block;
}