.product-shelf {
  width:880px;
  margin:auto;
  position:relative;
  z-index: 0;
  text-align: left;
}

.product-card {
  position: relative;
  display: inline-block;
  width: 200px; 
  height: 510px;
  margin: 10px;
}

.product-card > .image {  
  position: absolute;
  width: 100%;
}

.product-card > .title {
  width:100%;
  position: absolute;
  text-align: center;
  top: 320px;
}

.product-card > .description {
  width:100%;
  text-align: center;
  position: absolute;
  top:380px;
}

.product-card > .price {
  width:100%;
  text-align: center;
  position: absolute;
  top:410px;
}

.product-card > .buttons {
  position: absolute;
  bottom: 10px;
}

.product-card > .buttons > .size {
  width: 40px;
  height: 40px;
  margin: auto;
  position: relative;
}

.add-to-cart {
  margin: auto;
  position: relative;
  top:10px;
}